
.main-container{
  display: grid;
  grid-template-rows: min-content;
  justify-content: space-around;
  margin-top: 70px;
}

.positions{
  display: grid;
    border: 100px;
    width: 160%;
    height: 260px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    border-bottom-color: black;
    margin-top: 20px
}

.desks{
  display: flex;
    border: solid;
    margin: 10px;
    align-items: center;
    background-color: lightblue;
    text-align: center;
}
.desks:active{
  background-color: lightcyan;
}

.position-container{
  display: table-caption;
    height: auto;
    padding-right: 216px;
}

.info-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.room .desk .student .daily{
  height: auto;
  display: grid;
  width: 30%;
}

