body {
    margin: 0;
    background: gray;
    height: 200vh;
    width: 100%;
}

.nav-container {
    z-index: 1;
    margin: 0;
    background: rgb(62, 62, 62);
    height: 400px;
    width: 200px;
    display: grid;
    position: fixed;
}

.content {
    margin: 0;
    border: white solid 2px;
    justify-content: space-evenly;
    color: aliceblue;
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
}

.header {
    height: 400px;
    width: 100%;
    background: radial-gradient(rgb(96,96,96),gray );
    padding-left: 200px;
}

.text {
    color: white;
    font-size: 4em;
    padding-left: 180px;
    padding-top: 40px;
}

img {
    background-image: radial-gradient(gray, rgb(96,96,96)) ;
    height: 250px;
    display: block;
    margin-left: 400px;
    margin-bottom: 20px;
}

.body-container {
    
    font-size: 2em;
    margin-right: 40px;
    margin-left: 210px;
}