.container {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 100px;
  margin-right: 100px;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;

}

input {
  margin: 10px;
}

.des {
  height: 100px;
  grid-column: 1 /-1
}

button {
  height: 20px;
  width: 50px;
  grid-column: 1 /-1;

}