@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

.spotify-container {
  text-align: right;
  font-family: 'Julius Sans One';
  font-weight: bold;
  padding: 10px 10px 10px 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(233, 205, 80));
  width: 35%;
}
a{
  text-decoration: none;
}

button{
  border-radius: 100px;
  background-color: rgb(0, 0, 0);
  color: lightgray;
  font-size: 1em;
  transition: .1s;
  text-decoration: none;

}

button:focus{
  outline: none;
}

button:hover{
  cursor: pointer;
  background-color: rgb(105, 105, 105);
  transition: .2s;
}

button:active{
  background-color: rgb(68, 68, 68);
  font-size: .95em;
  transition: .1s;
  margin-right: .2em;
  margin-left: .2em;
  box-shadow:         inset 0 0 3px rgb(123, 123, 123);
  transition: .1s;
}

.miniPlayer{
  display: flex;
  justify-content: flex-end;

}

.size{
  font-size: 14px;
}

.spot{
  color: gray;
}

.spot:hover{
  color: lightgray;
}