body{
    margin: 0;
    box-sizing: border-box;
    font-size: 0px
}


.box-container{
    box-sizing: border-box;
    background: white;
    height:50%;
    width:70%;
    font-size: 0px;
    margin: auto;
}

.box{
    background: tomato;
    height: 100px;
    width: 100px;
    display: inline-block;
    width: 100%;
    border: solid white 5px;
    box-sizing: border-box; 
    font-size: 0px;
    margin: auto;


}

.one{
    background: #F5C6D6;
    width: 100%;

}

.two{
    background: #EE2E84;
    width: 25%;

}

.three{
    background: #85CFD8;
    width: 50%;

}

.four{
    background: #8DC63F;
    width: 75%;

}

.five{
    background: #E76E34;
    width: 25%;
    
}