@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    
}

.header {
    background: #333;
    height: 250pt;
    width: 100%;
}

.content {
    background: #888;
    height: 100pt;
    width: 100%;
}

.footer {
    background: #333;
    height: 100pt;
    width: 100%;

}

.link {
        background: #555555;
        height: 100pt;
        width: 100%;
}

@media(min-width: 1130px) {
    body{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 232.8pt 705pt 580pt 631pt 200pt
    }
    
    .header {
        background: #2d6360 50% 0 url("http://www.csszengarden.com/214/huntington.jpg") no-repeat;
        /* background-position: 0px;
        background-repeat: repeat, repeat, repeat, no-repeat; */
        background-attachment: auto, fixed, fixed, scroll;
        background-color: rgba(138,188,159,0.5);
        background-image: url("http://www.csszengarden.com/214/contours-opaque.png"), url("http://www.csszengarden.com/214/noise.png"), url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/huntington.jpg");
        background-position: -1px -15px, 0 0, -5px -38px, 0 -122px;
        background-repeat: repeat, repeat, repeat, no-repeat;
        background-size: 35%, auto, auto, cover;

        grid-row: 1/2;
        grid-column: 1/-1;
        width: 100%;
        padding: 0 10%;
        border-top: solid 12px rgba(19, 67, 71, 0.8);
        box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.3);        
    }
    

    .content {
        background: white;
        height: 100%;
        width: 100%;
        grid-column: 1/2
    }

    .first {
        padding: 3.85em 7.5% 1em 15%;
    }

    .second {
        padding: 2.05em 7.5% 1em 15%;
    }

    .paragraph-link{
        color: #147990;
        text-decoration: none;
    }

    .paragraph-link:hover{
        text-decoration: underline;
    }

    .paragraph-link:visited{
        color: #174840;
    }

    .link-button {
        display: inline-block;
        font-family:verdemoderna;
        background-color: #D0DBC2;
        color: #99AC82;
        padding: 2px;
        -webkit-border-radius: 2px;
        line-height: 1;
    }

    
    .second-content{
        background: #C1D8C9;
        opacity: .8;
        background-image: url("http://www.csszengarden.com/214/contours-opaque.png"),url("http://www.csszengarden.com/214/gridlines-opaque.png"), url('http://www.csszengarden.com/214/bamboo.png');
        background-color: rgb(165, 202, 181);
        background-attachment: scroll, scroll, fixed;


        
    }

    @font-face {
        font-family: verdemoderna;
        src: url('./font/verdemoderna.woff');
      }
    
    .footer {
        background: #333;
        height: 125%;
        width: 100%;
        grid-column: 1/-1;
        background-image: url("http://www.csszengarden.com/214/contours-opaque.png"), url("http://www.csszengarden.com/214/noise.png"), url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/koi.jpg");
        background-size: 50% auto, auto, auto, cover;
        background-position: 0px -220px, 0px 0px, -20px 80px, 0px -340px;
        box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.3);   

    }
    #footerMenu{
        width: 100%;
        height: 170px;
        background: #154346;
        margin-top: 100px;
    }
    
    .link {
            background: #555555;
            height: 100%;
            width: 100%;
            grid-column: 2/3
    }

    .link-one{
        grid-row: 2/3;
        background: #E5EDE8
    }
    .link-two{
        grid-row: 4/5;
        background: #E5EDE8
    }
    .link-three {
        grid-row: 3/4;
        background: #B0CBBB;
        opacity: .7;
        background-image: url("http://www.csszengarden.com/214/contours-opaque.png"),url("http://www.csszengarden.com/214/gridlines-opaque.png"), url('http://www.csszengarden.com/214/bamboo.png');
        background-color: rgb(136, 184, 156);
        background-attachment: scroll, scroll, fixed;
    }

    abbr {
        border: none;
        text-transform: uppercase;
        font-size: 0.90em;
        letter-spacing: 0.01em;
    }

    .first-paragraph {
        padding-top: 12px;
    }

    .image {
        background-image: url('http://www.csszengarden.com/214/enso.svg');
        background-size: cover;
        height: 127px;
        width: 127px;
        position: absolute;
        margin-top: 75px;
        opacity: 1;
    }

    .title {
        font-family: 'Julius Sans One', sans-serif;
        line-height: 1;
        font-size: 3.2em;
        padding-top: 92px;
        padding-left: 165px;
        padding-bottom: 10px;
        border-bottom: none;
        margin: 0;
        color: #fff;
    }

    .title-div {
        font-family: 'Julius Sans One', sans-serif;
        padding-top: 30px;
        font-size: 2em;
        font-weight: normal;
        color: #23383B;
    }

    #italic {
        font-size: 1.6em;
        font-style: italic;
        font-family: 'Libre Baskerville', sans-serif;
        padding-top: 0px;
        padding-left: 170px;
        opacity: .6;
        font-weight: normal;
        letter-spacing: -.3px;
        color: white;
    }
}

#footerP {
        font-family: 'Libre Baskerville', sans-serif;
        font-size: 2em;
        padding-top: 90px;
        padding-left: 20px;
        padding-bottom: 10px;
        border-bottom: none;
        margin: 0;
        color: #fff;
        text-align: center;
        line-height: 2em;
        color: rgba(255, 255, 255, 0.7);
        font-style: normal;

}

.sentence {
    opacity: .5;
}
#footerMenu {
    font-family: verdemoderna;
    font-size: 4.5em;
    text-align: center;
    color: white;
    justify-items: center;
    display: grid;
}
.footText {
    opacity: .5;
    padding-top: 45px;
}

#footerItems {
    display: grid;
    grid-template-columns: repeat(5,175px);
    padding-bottom: 47px;
}

p {
    line-height: 1.6;
    color: #263F3F;
    font-size: 1.235em;
    letter-spacing:.01em;
}

.foot-text {
    line-height: 2;
    color: #BCC9C7;
    font-size: 1.01em;
}

.styledbutton {
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 8px;
    top: 0px;
    color: #a9b995;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-decoration: none;
    margin-right: 5px;
    padding-right: 20px;
    font-size: .8em;
    padding: 10px;
}

.styledbutton:hover {
    background-color: #0d8ba1;
    padding: 10px;
    -webkit-border-radius: 2px;
    -webkit-font-smoothing: subpixel-antialiased;
    color: white

}


.content-container .styledbutton, .content-container .styledbutton:visited {
    position: relative;
    display: inline-block;
    margin: -1px 0px -1px -6px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
}

ul {
    list-style: none;
    margin-top: 70px;
    margin-left: 40px;
    font-style: italic;
    font-family: 'Libre Baskerville', sans-serif;
}

.design{
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-size:19.2px;
    margin-bottom: 4.8px;
    
}

.designer{
    font-style: normal;
    text-decoration: none;
}
