@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

@font-face {
  font-family: verdemoderna;
  src: url("./fonts/verdemoderna.woff");
}

.xbox{
  font-family: "verdemoderna";
  position: absolute;
  height: 35px;
  width: 40px;
  background-color: rgb(80, 80, 80);
  position: absolute;
  left: -640px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 1310px;
  color: rgb(255, 227, 253);
  text-align: center;
  border-radius:10px;
  font-size: 30px;
  text-decoration: none;
  transition: .1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xbox:active {
  font-family: "verdemoderna";
  position: absolute;
  height: 30px;
  width: 35px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: -640px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 1310px;
  color: rgb(219, 188, 217);
  text-align: center;
  border-radius:10px;
  font-size: 26px;
  transition: .1s;
}

.facebook, .instagram, .twitter, .github{
  fill: wheat;
  transition: .1s;
}

.facebook:active, .instagram:active, .twitter:active, .github:active{
  fill: rgb(177, 160, 130);
  width: 60px;
  height: 60px;
  padding: 4px;
  transition: .1s;
}

* {
  margin: 0px;
}

.proj, .res, .con, .myself-container{
  height: 500px;
  font-size: 32px;
}

.proj {
  padding-top: 90px;
}

.con {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr
}

.contact-text{
  /* position: relative;
  top:-165px; */
}

.icons{
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items:center;
}

/* .proj{
  padding: 60px;
} */

.container {
  margin-top: 20px;
}

.myself-container {
  background:linear-gradient(315deg,rgba(255, 255, 255, 0.9), rgba(255, 220, 220, 0.95) 50%);
  animation: back-color 20s ease infinite;
}

.res {
  background-color: rgba(255, 255, 255, 0.95);
  animation: back-color 20s ease infinite;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}
.header {
  height: 100px;
  margin:0px;
  background:linear-gradient(315deg,rgba(255, 255, 255, 0.9), rgba(255, 220, 220, 0.95) 50%);
  animation: back-color 20s ease infinite;
}

@keyframes back-color{
  0% {
    background: rgba(255, 255, 255, 0.95);
    background-position: 0% 7%
  }
  50% {
    background: rgba(253, 236, 239, 0.8);
    background-position: 100% 94%
  } 
  100% {
    background: rgba(255, 255, 255, 0.95);
    background-position:  0% 7%
  }
}

.proj {
  height: 400;
  background-color: rgba(190, 190, 190, 0.527);
  background-image: url("https://images.pexels.com/photos/71859/spring-flowers-stroll-cherry-blossom-71859.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-attachment: fixed;
}

h3 {
  margin-left: 20px;
  padding-top: 20px;
}

body {
  font-family: 'Libre Baskercille', 'Julius Sans One', sans-serif;
  background: url("https://images.pexels.com/photos/71859/spring-flowers-stroll-cherry-blossom-71859.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-attachment: fixed;
}

.hello{
  padding-top: 40px;
}


.resBox {
  padding-top: 20px;
  display: grid;
}

.con {
  color: rgb(255, 226, 226);
  background: url("https://images.pexels.com/photos/673181/pexels-photo-673181.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.pic{
  margin-top: 30px;
  height: 350px;
  width: 270px;
  background-image: url('resFront.png');
  background-size: cover;
  box-shadow: 2px 2px 5px 1px;
  margin-left: auto;
  margin-right: auto;
}

.show-modal{

  position: absolute;
  margin-top: 30px;
  top: 1280px;
  height: 750px;
  width: 580px;
  background-image: url('resFront.png');
  background-size: cover;
  box-shadow: 2px 2px 5px 1px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.no-display {
  display: none;
}

.projects{
  display: grid;
  grid-template-rows: repeat(11, 36.5px);
  grid-template-columns: repeat(11, 1fr);
}

.proj1{
  grid-column: 3/4;
  grid-row: 3/10;
  justify-self: center;
  align-self: center;
}

.proj2{
  grid-column: 5/6;
  grid-row: 6/6;
  justify-self: center;
  align-self: center;
}

.proj3{
  grid-column: 7/8;
  grid-row: 6/6;
  justify-self: center;
  align-self: center;
}

.proj4{
  grid-column: 9/10;
  grid-row: 6/6;
  justify-self: center;
  align-self: center;
}

.screenshot{
  height: 200px;
  width: 200px;
  border: 2px black solid;
  border-radius: 100%;
  transition: .1s;
}

.screenshot:hover{
  transition: .1s;
  height: 170px;
  width: 170px;
  margin: 15px;
}

.shot-one{
  background-image: url('./images/proj1.png');
  background-size: 300px;
  background-position-x: -50px;
  background-position-y: -40px;
}

.shot-two{
  background-image: url('./images/proj2.png');
  background-size: 300px;
  background-position-x: -50px;
  background-position-y: 0px;
}

.shot-three{
  background-image: url('./images/proj3.png');
  background-size: 300px;
  background-position-x: -50px;
  background-position-y: -50px;
}

.shot-four{
  background-image: url();
  background-size: ;
  background-position-x: ;
  background-position-y: ;
}

.shot-one:hover{
  background-size: 300px;
  background-position-x: -65px;
  background-position-y: -55px;
}
.shot-two:hover{
  background-position-x: -65px;
  background-position-y: -15px;
 }
.shot-three:hover{
  background-position-x: -65px;
  background-position-y: -65px;
  }
.shot-four:hover{
  background-position-x: 10px;
  background-position-y: 10px;
}

.screenshot-link{
  transition: .1s;
}

.screenshot-link:hover{
  transition: .1s;
  height: 170px;
  width: 170px;
}

@media (max-width: 815px){
  .projects{
    display: grid;
  grid-template-rows: repeat(11, 36.5px);
  grid-template-columns: repeat(6, 1fr);
  }

  .proj1{
    grid-column: 2/3;
    grid-row: 3/10;
  }

  .proj2{
    grid-column: 3/4;
    grid-row: 6/6;
  }

  .proj3{
    grid-column: 4/5;
    grid-row: 6/6;
  }

  .proj4{
    grid-column: 5/6;
    grid-row: 6/6;
  }

  .screenshot{
    height: 80px;
    width: 80px;
    background-size: 80px;
  }
}

@media (max-width: 580px){
  .show-modal{
    top: 1580px;
    height: 460px;
    width: 360px;
  }

  .xbox{
    left: -660px;
    right: -340px;
    top: 1615px;
    height: 25px;
    width: 30px;
    font-size: 20px;
  }
}