@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

@font-face {
  font-family: verdemoderna;
  src: url("./fonts/verdemoderna.woff") format('woff');
}

@font-face {
  font-family: Yaldevi-Variable;
  src: url('./fonts/Yaldevi-VariableFont_wght.ttf') format("opentype");
}

.resume-text, .contact-text, .project-text{
  padding-top: 40px;
}

.name-logo{
  padding-top: 0px;
}

h5{
  width: 33px;
  height: 33px;
  border: 2px solid black;
  border-radius: 50%;
  background: rgba(0,0,0,0);
  line-height: 0px;
  padding-bottom: 0px;
  margin-bottom: 30px;
  position: relative;
  top: -30px;
  left: -4px;
}

.xbox{
  font-family: "verdemoderna";
  position: absolute;
  height: 35px;
  width: 40px;
  background-color: rgb(80, 80, 80);
  position: absolute;
  left: -640px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 1620px;
  color: rgb(255, 227, 253);
  text-align: center;
  border-radius:10px;
  font-size: 30px;
  text-decoration: none;
  transition: .1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xbox:active {
  font-family: "verdemoderna";
  position: absolute;
  height: 30px;
  width: 35px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: -640px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 1620px;
  color: rgb(219, 188, 217);
  text-align: center;
  border-radius:10px;
  font-size: 26px;
  transition: .1s;
}

.facebook, .instagram, .twitter, .github{
  fill: wheat;
  transition: .1s;
}

.facebook:hover, .instagram:hover, .twitter:hover, .github:hover{
  fill: rgb(250, 165, 39);
  width: 60px;
  height: 60px;
  padding: 4px;
  transition: .1s;
}

.facebook:active, .instagram:active, .twitter:active, .github:active{
  fill: rgb(191, 126, 30);
  width: 55px;
  height: 55px;
  padding: 4px;
  transition: .1s;
}

* {
  margin: 0px;
}

.proj, .res, .con, .myself-container{
  height: 520px;
  font-size: 32px;
}

.proj {
  padding-top: 90px;
}

.con {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr
}

.icons{
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items:center;
}

.container {
  margin-top: 20px;
}

.myself-container {
  background:linear-gradient(315deg,rgba(255, 255, 255, 0.9), rgba(255, 220, 220, 0.95) 50%);
  animation: back-color 20s ease infinite;
}

.res {
  background-color: rgba(255, 255, 255, 0.95);
  animation: back-color 20s ease infinite;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}
.header {
  height: 100px;
  margin:0px;
  background:linear-gradient(315deg,rgba(255, 255, 255, 0.9), rgba(255, 220, 220, 0.95) 50%);
  animation: back-color 20s ease infinite;
}

@keyframes back-color{
  0% {
    background: rgba(255, 255, 255, 0.95);
    background-position: 0% 7%
  }
  50% {
    background: rgba(253, 236, 239, 0.8);
    background-position: 100% 94%
  } 
  100% {
    background: rgba(255, 255, 255, 0.95);
    background-position:  0% 7%
  }
}

.proj {
  height: 400;
  background-color: rgba(190, 190, 190, 0.527);
  background-image: url("https://images.pexels.com/photos/71859/spring-flowers-stroll-cherry-blossom-71859.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-attachment: fixed;
}

h3 {
  margin-left: 20px;
  padding-top: 20px;
}

body {
  font-family: 'Yaldevi-Variable', 'Libre Baskercille', 'Julius Sans One', sans-serif;
  background: url("https://images.pexels.com/photos/71859/spring-flowers-stroll-cherry-blossom-71859.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-attachment: fixed;
  letter-spacing: 2px;
}

.hello{
  padding-top: 40px;
}

.resBox {
  padding-top: 20px;
  display: grid;
}

.con {
  color: rgb(255, 226, 226);
  background: url("https://images.pexels.com/photos/673181/pexels-photo-673181.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.pic{
  margin-top: 30px;
  height: 350px;
  width: 270px;
  background-image: url('./images/MarvFEresWc-1.png');
  background-size: cover;
  box-shadow: 2px 2px 5px 1px;
  margin-left: auto;
  margin-right: auto;
}

.show-modal{
  position: absolute;
  margin-top: 30px;
  top: 1590px;
  height: 750px;
  width: 580px;
  background-image: url('./images/MarvFEresWc-1.png');
  background-size: cover;
  box-shadow: 2px 2px 5px 1px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.no-display {
  display: none;
}

.projects{
  display: grid;
  grid-template-rows: repeat(11, 36.5px);
  grid-template-columns: repeat(11, 1fr);
}

.proj1{
  grid-column: 3/4;
  grid-row: 3/10;
  justify-self: center;
  align-self: center;
  text-align: -webkit-center;
}

.proj2{
  grid-column: 5/6;
  grid-row: 6/6;
  justify-self: center;
  align-self: center;
  text-align: -webkit-center;
}

.proj3{
  grid-column: 7/8;
  grid-row: 6/6;
  justify-self: center;
  align-self: center;
  text-align: -webkit-center;
}

.proj4{
  grid-column: 9/10;
  grid-row: 6/6;
  justify-self: center;
  align-self: center;
  text-align: -webkit-center;
}

.screenshot{
  height: 200px;
  width: 200px;
  border: 2px black solid;
  border-radius: 100%;
  transition: .1s;
}

.shot-one{
  background-image: url('./images/proj6.jpeg');
  background-size: 340px;
  background-position-x: -70px;
  background-position-y: 0px;
}

.shot-two{
  background-image: url('./images/proj5.png');
  background-size: 300px;
  background-position-x: -50px;
  background-position-y: 0px;
}

.shot-three{
  background-image: url('./images/proj7.png');
  background-size: 310px;
  background-position-x: 20px;
  background-position-y: -10px;
}

.shot-four{
  background-image: url('./images/proj8.png');
  background-size: 310px;
  background-position-x: -20px;
  background-position-y: -22px;
}

.shot-one:hover{
  background-size: 340px;
  background-position-y: 0px;
  background-position-x: -80px;
  margin-right: 20px;
  margin-top: 20px;
}

.shot-two:hover{
  background-position-x: -155px;
  background-position-y: -5px;
  margin-right: 20px;
  margin-top: 20px;
 }
 
.shot-three:hover{
  background-position-x: 10px;
  background-position-y: -45px;
  margin-right: 20px;
  margin-top: 20px;
  }
.shot-four:hover{
  background-position-x: -47px;
  background-position-y: -41px;
  margin-right: 25px;
  margin-top: 20px;
}

.screenshot-link{
  transition: .1s;
}

.screenshot-link:hover{
  transition: .1s;
  height: 170px;
  width: 170px;
}

.desc{
  position: relative;
  top: 50px;
  font-size: 12px;
  padding-top: 10px;
  width: 210px;
  height: 200px;
  background-color: rgba(252, 226, 232, 0.75);
  margin-top: 30px;
  border-radius: 5px;
  z-index: 100;
}

span{
  font-weight: bold;
}

.project{
 height: 250px; 
}

.info-one{
  grid-column: 3/3;
  grid-row: 8/11;
  justify-self: center;
  align-self: center;
  z-index: 2;
  opacity: 1;
}

.info-one:hover, .info-two:hover, .info-three:hover, .info-four:hover{
  fill: rgb(70, 70, 70);
}

.info-two{
  grid-column: 5/6;
  grid-row: 8/11;
  justify-self: center;
  align-self: center;
  z-index: 2;
  opacity: 1;
}

.info-three{
  grid-column: 7/8;
  grid-row: 8/11;
  justify-self: center;
  align-self: center;
  z-index: 2;
  opacity: 1;
}

.info-four{
  grid-column: 9/10;
  grid-row: 8/11;
  justify-self: center;
  align-self: center;
  z-index: 2;
  opacity: 1;
}

.svg-icon:active{
  width: 23pt;
  height: 23pt;
  padding-bottom: 1.5px;
  fill: rgb(254, 192, 162);
}

p{
  text-align: center;
}

.info-text{
  font-size: 14px;
  text-align: center;
}

@media (max-width: 500px){
  .proj{
    background-attachment: inherit;
    background-size: 750px;
    background-position-y: 0px;
  }

  .con{
    background-attachment: inherit;
    background-size: 940px;
    background-position-y: 0px;
    background-position-x: -290px;
  }

  .header{
    height: 80px;
  }

  .project-text{
    padding-bottom: 20px;
  }
  
  .myself-container{
    height: 620px;
  }
  .name-logo{
    padding-top: 5px;
  }

  .proj {
    padding-top: 30px;
    height: 320px;
    font-size: 24px;
  }
  .screenshot{
    height: 120px;
    width: 120px;
    background-size: 200px;
    background-position-x: 2px;
  }
  .show-modal{
    height: 0px;
    width: 0px;
  }
  .xbox{
    top: 1665px;
    left: -330px;
  }
  .xbox:active{
    top: 1665px;
    left: -330px;
  }
  .proj1{
    grid-column: 1/6;
    grid-row: 3/7;
  }
  .proj2 {
    grid-column: 1/6;
    grid-row: 11/12;
  }
  .proj3 {
    grid-column:7/12;
    grid-row: 3/7;
  }
  .proj4 {
    grid-column:7/12;
    grid-row: 11/12;
  }

  .info-one {
    grid-column: 2/5;
    grid-row: 4/8;
  }
  .info-two {
    grid-column: 2/5;
    grid-row: 12/12;
  }
  .info-three{
    grid-column: 7/12;
    grid-row: 4/8;
  }
  .info-four{
    grid-row: 12/12;
  }
  .desc{
    display: none
  }
  .desc2{
    position: absolute; 
    border-radius: 16px;
    top: 630px;
    width: 340px;
    font-size: 24px;
    height: 270px;
    padding-top: 55px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    background-color: rgba(252, 226, 232, 0.95)
  }
}

@media (min-width: 501px) and (max-width: 568px){
  .proj, .con{
    background-size: 690px;
    background-position-y: 0px;
  }

  .desc{
    height: 205px;
  }

  .project-text{
    padding-bottom: 50px;
  }

  .name-logo{
    padding-top: 0px;
  }

  body{
    background-size: 690px;
  }
  .con{
    background-size: 1358px;
    height: 322px;
    background-position-y: 66px;
    background-position-x: -470px;
  }
  .header{
    height: 65px;
  }
  .proj{
    padding-top: 50px;
    font-size: 20px;
    height: 290px;
  }
  .hello{
    padding-top: 20px
  }
  .proj1 {
    grid-row: 1/8;  
  }
  .proj2 {
    grid-row: 1/8;  
  }
  .proj3 {
    grid-row: 1/8;  
  }
  .proj4 {
    grid-row: 1/8;  
  }
  
  .myself-container{
    height: 535px;
  }
  .show-modal{
    height: 0px;
    width: 0px;
  }
  .xbox{
    top: 1015px;
    left: -340px;
  }

  .screenshot{
    height: 90px;
    width: 90px;
    background-size: 150px;
    background-position-x: 2px;
    margin-left: 0px;
  }

  .screenshot:hover{
    height: 70px;
    width: 70px;
    border: 2px black solid;
    border-radius: 100%;
    transition: .1s;
  }
  .shot-one{
    background-position-y: 0px;
  }

  .shot-one:hover{
    background-position-y: -30px;
    background-position-x: -8px;
    margin-left: 20px;
    background-size: 150px;
  }
  .shot-two:hover{
    background-position-x: -7px;
    background-position-y: -25px;
    margin-left: 20px;
   }
  .shot-three:hover{
    background-position-x: -7px;
    background-position-y: -75px;
    margin-left: 20px;
    }
  .shot-four:hover{
    background-position-x: -8px;
    background-position-y: 9px;
    margin-left: 20px;
  }
  .desc{
    width: 120px;
    top: 55px;
  }

  .desc2{
    display: none;
  }

  .info-one, .info-four, .info-three, .info-two{
    grid-row: 2/8;
  }
}

@media (min-width: 569px) and (max-width: 640px){
  .proj, .con{
    background-size: 690px;
    background-position-y: 0px;
  }

  body{
    background-size: 690px;
  }

  .con{
    background-size: 1358px;
    background-position-y: 66px;
    background-position-x: -420px;
  }
  .header{
    height: 65px;
  }
  .proj{
    background-size: 690px;
    height: 310px;
    padding-top: 40px;
    font-size: 28px;
  }

  .project-text{
    padding-bottom: 40px;
  }

  .hello{
    padding-top: 15px;
  }
  .myself-container{
    height: 525px;
  }
  .proj1 {
    grid-row: 1/8;  
  }
  .proj2 {
    grid-row: 1/8;  
  }
  .proj3 {
    grid-row: 1/8;  
  }
  .proj4 {
    grid-row: 1/8;  
  }
  .con{
    height: 364px;
  }
  .xbox{
    left: -460px;
    margin-right:570px;
    top: 1265px;
  }
  .xbox:active{
    left: -460px;
    margin-right:570px;
    top: 1265px;
  }
  .screenshot{
    height: 120px;
    width: 120px;
    background-size: 200px;
    background-position-x: 2px;
  }
  .screenshot:hover{
    height: 100px;
    width: 100px;
    border: 2px black solid;
    border-radius: 100%;
    transition: .1s;
  }
  .shot-one{
    background-position-y: 0px;
  }

  .shot-one:hover{
    background-position-y: -20px;
    background-position-x: -3px;
    margin-left: 10px;
    background-size: 200px;
  }
  .shot-two:hover{
    background-position-x: -1px;
    background-position-y: -20px;
    margin-left: 10px;
   }
  .shot-three:hover{
    background-position-x: -3px;
    background-position-y: -30px;
    margin-left: 10px;
    }
  .shot-four:hover{
    background-position-x: -3px;
    background-position-y: -42px;
    margin-left: 10px;
  }
  .desc{
    width: 130px;
    top: 55px;
  }

  .info-one, .info-four, .info-three, .info-two{
    grid-row: 3/8;
  }

  .desc2{
    display: none
  }
}

@media (min-width: 641px) and (max-width: 735px){
  .proj, .con{
    background-size: 740px;
    background-position-y: 0px;
  }

  body{
    background-size: 740px;
    background-position-x: -4px;
    background-position-y: -4px;
  }
  .con{
    background-size: 1423px;
    background-position-y: 21px;
    background-position-x: -420px;
  }

  .header{
    height: 65px;
  }

  .project-text{
    padding-bottom: 40px;
  }
  .proj{
    background-size: 750px;
    height: 350px;
    padding-top: 80px;
  }
  .hello{
    padding-top: 0px;
  }
  .proj1 {
    grid-row: 1/8;  
  }
  .proj2 {
    grid-row: 1/8;  
  }
  .proj3 {
    grid-row: 1/8;  
  }
  .proj4 {
    grid-row: 1/8;  
  }
  .screenshot{
    height: 150px;
    width: 150px;
    background-size: 280px;
    background-position-x: 2px;
  }
  .myself-container{
    height: 535px;
  }
  .con{
    height: 412px;
  }
  .xbox{
    left: -626px;
  }
  .xbox:active{
    left: -626px;
  }

  .screenshot:hover{
    height: 130px;
    width: 130px;
    border: 2px black solid;
    border-radius: 100%;
    transition: .1s;
  }
  .shot-one{
    background-position-y: 0px;
  }

  .shot-one:hover{
    background-size: 280px;
    background-position-y: -20px;
    background-position-x: -3px;
    margin-left: 9px;
  }
  .shot-two:hover{
    background-position-x: -1px;
    background-position-y: -20px;
    margin-left: 11px;
   }
  .shot-three:hover{
    background-position-x: -1px;
    background-position-y: -30px;
    margin-left: 9px;
    }
  .shot-four:hover{
    background-position-x: -6px;
    background-position-y: -42px;
    margin-left: 13px;
  }
  .desc{
    width: 150px;
    top: 55px;
  }

  .info-one, .info-four, .info-three, .info-two{
    grid-row: 2/11;
  }
  .desc2{
    display: none
  }
}

@media (min-width: 736px) and (max-width: 767px){
  .con{
    background-size: 770px;
    background-position-y: 0px;
    height: 545px;
    padding-top: 0px;
  }

  .proj{
    background-size: 922px;
    background-position-y: 0px;
    height: 430px;
    padding-top: 70px;
  }

  .info-four, .info-three, .info-two, .info-one{
    margin-top: 50px;
  }

  .project{
    height: 160px;
  }

  body{
    background-size: 770px;
    background-position-x: 0px;
    background-position-y: 0px;
  }
  .con{
    background-size: 1423px;
    background-position-y: 22px;
    background-position-x: -370px;
  }

  .header{
    height: 65px;
  }
  .myself-container{
    height: 575px;
  }
  .con{
    height: 412px;
  }
  .proj1 {
    grid-row: 1/8;  
  }
  .proj2 {
    grid-row: 1/8;  
  }
  .proj3 {
    grid-row: 1/8;  
  }
  .proj4 {
    grid-row: 1/8;  
  }
  .screenshot{
    height: 150px;
    width: 150px;
    background-size: 280px;
    background-position-x: 2px;
  }

  .screenshot:hover{
    height: 130px;
    width: 130px;
    border: 2px black solid;
    border-radius: 100%;
    transition: .1s;
  }
  .shot-one:hover{
    background-size: 150px;
    background-position-y: -50px;
    background-position-x: -5px;
  }
  .shot-two:hover{
    background-position-x: -5px;
    background-position-y: -10px;
   }
  .shot-three:hover{
    background-position-x: -8px;
    background-position-y: -60px;
    }
  .shot-four:hover{
    background-position-x: -12px;
    background-position-y: 17px;
  }

  .shot-one{
    background-position-y: 0px;
  }

  .shot-one:hover{
    background-size: 280px;
    background-position-y: -20px;
    background-position-x: -3px;
    margin-left: 9px;
  }
  .shot-two:hover{
    background-position-x: -1px;
    background-position-y: -20px;
    margin-left: 11px;
   }
  .shot-three:hover{
    background-position-x: -1px;
    background-position-y: -30px;
    margin-left: 9px;
    }
  .shot-four:hover{
    background-position-x: -6px;
    background-position-y: -42px;
    margin-left: 13px;
  }
  .desc{
    width: 175px;
    top: 95px;
  }

  .info-one, .info-four, .info-three, .info-two{
    grid-row: 3/11;
  }
  .desc2{
    display: none
  }
}

@media (min-width: 768px) and (max-width: 800px){
  .proj, .con{
    background-size: 1193px;
    background-position-y: 0px;
  }

  body{
    background-size: 1193px;
    background-position-x: 0px;
    background-position-y: 0px;
  }
  .con{
    background-size: 1423px;
    background-position-y: 22px;
    background-position-x: -370px;
  }

  .header{
    height: 90px;
  }
  .hello{
    padding-top: 140px;
  }
  .proj{
    padding-top: 0px;
    height: 700px;
  }
  .proj1 {
    grid-row: 5/8;  
  }
  .proj2 {
    grid-row: 5/8;  
  }
  .proj3 {
    grid-row: 5/8;  
  }
  .proj4 {
    grid-row: 5/8;  
  }
  .myself-container{
    height: 600px;
  }
  .con{
    height: 531px;
  }
  .screenshot{
    height: 160px;
    width: 160px;
    background-size: 280px;
    background-position-x: 2px;
    margin-left: 10px;
  }

  .screenshot:hover{
    height: 140px;
    width: 140px;
  }
  

  .shot-one{
    background-position-y: 0px;
  }

  .shot-one:hover{
    background-size: 280px;
    background-position-y: -20px;
    background-position-x: 3px;
    margin-left: 9px;
  }
  .shot-two:hover{
    background-position-x: 1px;
    background-position-y: -20px;
    margin-left: 11px;
   }
  .shot-three:hover{
    background-position-x: 2px;
    background-position-y: -30px;
    margin-left: 9px;
    }
  .shot-four:hover{
    background-position-x: 2px;
    background-position-y: -42px;
    margin-left: 13px;
  }
  .desc{
    width: 175px;
    top: 70px;
  }

  .info-one, .info-four, .info-three, .info-two{
    grid-row: 7/11;
  }
  .desc2{
    display: none
  }
}

@media (min-width: 801px) and (max-width: 812px){
  .proj, .con{
    background-size: 1193px;
    background-position-y: 0px;
  }

  body{
    background-size: 1193px;
    background-position-x: 0px;
    background-position-y: 0px;
  }
  .con{
    background-size: 1423px;
    background-position-y: 22px;
    background-position-x: -370px;
  }

  .header{
    height: 90px;
  }
  .hello{
    padding-top: 140px;
  }
  .proj{
    padding-top: 0px;
    height: 700px;
  }
  .proj1, .proj2, .proj3, .proj4{
    grid-row: 5/8;  
  }

  .info-one, .info-four, .info-three, .info-two{
    grid-row: 7/11;
  }

  .myself-container{
    height: 600px;
  }
  .con{
    height: 531px;
  }
  .screenshot{
    height: 150px;
    width: 150px;
    background-size: 150px;
    background-position-x: 2px;
  }

  .screenshot{
    height: 160px;
    width: 160px;
    background-size: 280px;
    background-position-x: 2px;
  }

  .screenshot:hover{
    height: 130px;
    width: 130px;
    border: 2px black solid;
    border-radius: 100%;
    transition: .1s;
  }

  .shot-one{
    background-position-y: 0px;
  }

  .shot-one:hover{
    background-size: 280px;
    background-position-y: -20px;
    background-position-x: -7px;
    margin-left: 9px;
  }
  .shot-two:hover{
    background-position-x: -9px;
    background-position-y: -20px;
    margin-left: 11px;
   }
  .shot-three:hover{
    background-position-x: -8px;
    background-position-y: -30px;
    margin-left: 9px;
    }
  .shot-four:hover{
    background-position-x: -9px;
    background-position-y: -42px;
    margin-left: 13px;
  }
  .desc{
    width: 175px;
    top: 75px;
  }
  .desc2{
    display: none
  }
}

@media (min-width: 813px) and (max-width: 823px){
  .proj, .con{
    background-size: 1193px;
    background-position-y: 0px;
  }

  body{
    background-size: 1193px;
    background-position-x: 0px;
    background-position-y: 0px;
  }
  .con{
    background-size: 1423px;
    background-position-y: 22px;
    background-position-x: -370px;
  }

  .name-logo{
    padding-top: 0px;
  }

  .header{
    height: 70px;
  }
  .hello{
    padding-top: 140px;
  }
  .proj{
    padding-top: 0px;
    height: 700px;
  }
  .myself-container{
    height: 605px;
  }

  .screenshot{
    height: 160px;
    width: 160px;
    background-size: 280px;
    background-position-x: 2px;
  }

  .screenshot:hover{
    height: 140px;
    width: 140px;
    border: 2px black solid;
    border-radius: 100%;
    transition: .1s;
  }

  .shot-one{
    background-position-y: 0px;
  }

  .shot-one:hover{
    background-size: 280px;
    background-position-y: -20px;
    background-position-x: -4px;
    margin-left: 9px;
  }
  .shot-two:hover{
    background-position-x: -1px;
    background-position-y: -20px;
    margin-left: 11px;
   }
  .shot-three:hover{
    background-position-x: -2px;
    background-position-y: -30px;
    margin-left: 9px;
    }
  .shot-four:hover{
    background-position-x: -6px;
    background-position-y: -42px;
    margin-left: 13px;
  }
  .desc{
    width: 170px;
    top: 90px;
  }
  .desc2{
    display: none
  }
  
}

@media (min-width: 824px) and (max-width: 1000px){
  .proj, .con{
    background-size: 1074px;
    background-position-y: 0px;
  }

  body{
    background-size: 1074px;
    background-position-x: 0px;

  }
  .con{
    background-size: 1456px;
    background-position-x: -250px;
  }

  .show-modal{

    height: 730px;
    width: 566px;
  }

  .screenshot{
    height: 170px;
    width: 170px;
    background-size: 280px;
    background-position-x: 2px;
  }

  .screenshot:hover{
    height: 150px;
    width: 150px;
    border: 2px black solid;
    border-radius: 100%;
    transition: .1s;
  }
  .shot-one:hover{
    background-size: 280px;
    background-position-y: -20px;
    background-position-x: -4px;
    margin-left: 9px;
  }
  .shot-two:hover{
    background-position-x: -1px;
    background-position-y: -20px;
    margin-left: 11px;
   }
  .shot-three:hover{
    background-position-x: -2px;
    background-position-y: -30px;
    margin-left: 9px;
    }
  .shot-four:hover{
    background-position-x: -6px;
    background-position-y: -42px;
    margin-left: 13px;
  }
  .desc{
    width: 170px;
    top: 85px;
  }
  .desc2{
    display: none
  }
  .myself-container{
    height: 645px;
  }
}

@media (min-width: 1001px) and (max-width: 1024px){
  .proj, .con{
    background-size: 1074px;
    background-position-y: 0px;
  }

  body{
    background-size: 1074px;
    background-position-x: 0px;

  }
  .con{
    background-size: 1456px;
    background-position-x: -250px;
  }

  .show-modal{
    height: 730px;
    width: 566px;
  }

  .screenshot{
    height: 170px;
    width: 170px;
    background-size: 290px;
    background-position-x: 0px;
  }

  .screenshot:hover{
    height: 150px;
    width: 150px;
    border: 2px black solid;
    border-radius: 100%;
    transition: .1s;
  }
  .shot-one:hover{
    background-size: 290px;
    background-position-y: -20px;
    background-position-x: -5px;
    margin-left: 10px;
  }
  .shot-two:hover{
    background-position-x: -2px;
    background-position-y: -20px;
    margin-left: 10px;
   }
  .shot-three:hover{
    background-position-x: -4px;
    background-position-y: -30px;
    margin-left: 10px;
    }
  .shot-four:hover{
    background-position-x: -13px;
    background-position-y: -42px;
    margin-left: 20px;
  }
  .desc{
    width: 170px;
    top: 135px;
  }
  .desc2{
    display: none
  }
  .myself-container{
    height: 635px;
  }
}

@media (min-width: 1025px) and (max-width: 1366px){
  .proj, .con{
    background-size: 1366px;
    background-position-y: -50px;
  }

  body{
    background-size: 1366px;
    background-position-x: 0px;
    background-position-y: -50px;
  }
  .con{
    background-size: 1532px;
    background-position-x: -170px;
  }

  .proj{
    font-size: 36px;
  }

  .screenshot:hover{
    height: 150px;
    width: 150px;
    border: 2px black solid;
    border-radius: 100%;
    transition: .1s;
  }
  .shot-one:hover{
    background-size: 340px;
    background-position-y: -20px;
    background-position-x: -89px;
    margin-left: 10px;
  }
  .shot-two:hover{
    background-position-x: -73px;
    background-position-y: -20px;
    margin-left: 10px;
   }
  .shot-three:hover{
    background-position-x: -2px;
    background-position-y: -30px;
    margin-left: 10px;
    }
  .shot-four:hover{
    background-position-x: -35px;
    background-position-y: -42px;
    margin-left: 10px;
  }
  .desc2{
    display: none
  }

  .desc{
    top: 85px;
  }
  .myself-container{
    height:635px;
  }
}

@media (min-width: 1367px){
  .screenshot:hover{
    height: 150px;
    width: 150px;
    border: 2px black solid;
    border-radius: 100%;
    transition: .1s;
    
  }
  .shot-one:hover{
    background-size: 340px;
    background-position-y: -20px;
    background-position-x: -94px;
    margin-left: 10px;
  }
  .shot-two:hover{
    background-position-x: -78px;
    background-position-y: -20px;
    margin-left: 10px;
   }
  .shot-three:hover{
    background-position-x: -6px;
    background-position-y: -30px;
    margin-left: 10px;
    }
  .shot-four:hover{
    background-position-x: -48px;
    background-position-y: -42px;
    margin-left: 10px;
  }
  .desc2{
    display: none
  }
  .desc{
    top: 85px;
  }
  .myself-container{
    height: 645px;
  }
}

@media only screen and (max-device-width: 320px){
  body{
    letter-spacing: 1px;
  }
  
  .proj{
    background-attachment: inherit;
    background-size: 690px;
    background-position-y: 0px;
    height: 320px;
    padding-top: 30px;
  }
  .con{
    background-attachment: inherit;
    background-size: 750px;
    background-position-y: 0px;
  }
  .bye{
    font-size: 18px;
  }
  .proj1{
    grid-column: 1/6;
    grid-row: 3/7;
  }
  .proj2 {
    grid-column: 1/6;
    grid-row: 11/12;
  }
  .proj3 {
    grid-column:7/12;
    grid-row: 3/7;
  }
  .proj4 {
    grid-column:7/12;
    grid-row: 11/12;
  }
  .screenshot{
    height: 120px;
    width: 120px;
    background-size: 200px;
    background-position-x: 2px;
  }
  .show-modal{
    height: 0px;
    width: 0px;
  }
  .xbox{
    top: 124px;
    left: -260px;
  }

  .xbox:active{
    top: 124px;
    left: -260px;
  }
  .info-one {
    grid-column: 2/5;
    grid-row: 4/8;
  }
  .info-two {
    grid-column: 2/5;
    grid-row: 12/12;
  }
  .info-three{
    grid-column: 7/12;
    grid-row: 4/8;
  }
  .info-four{
    grid-row: 12/12;
  }
  .desc{
    display: none
  }
  .desc2{
    position: absolute; 
    border-radius: 16px;
    top: 145px;
    width: 340px;
    font-size: 24px;
    height: 270px;
    padding-top: 55px;
    margin-left: 35px;
    margin-right: auto;
    z-index: 5;
    background-color: rgba(252, 226, 232, 0.95)
  }

}

@media only screen and (min-device-width: 321px) and (max-device-width: 360px){
  body{
    letter-spacing: 1px;
  }
  
  .proj, .con{
    background-attachment: inherit;
    background-size: 750px;
    background-position-y: 0px;
  }
  .proj{
    background-size: 891px;
    height: 400px;
  }

  .bye{
    font-size: 21px;
  }
  .proj1{
    grid-column: 1/6;
    grid-row: 3/7;
  }
  .proj2 {
    grid-column: 1/6;
    grid-row: 11/12;
  }
  .proj3 {
    grid-column:7/12;
    grid-row: 3/7;
  }
  .proj4 {
    grid-column:7/12;
    grid-row: 11/12;
  }
  .screenshot{
    height: 120px;
    width: 120px;
    background-size: 200px;
    background-position-x: 2px;
  }
  .show-modal{
    height: 0px;
    width: 0px;
  }
  .xbox{
    top: 124px;
    left: -280px;
  }
  .xbox:active{
    top: 124px;
    left: -280px;
  }
  .info-one {
    grid-column: 2/5;
    grid-row: 4/8;
  }
  .info-two {
    grid-column: 2/5;
    grid-row: 12/12;
  }
  .info-three{
    grid-column: 7/12;
    grid-row: 4/8;
  }
  .info-four{
    grid-row: 12/12;
  }
  .desc{
    display: none
  }
  .desc2{
    position: absolute; 
    border-radius: 16px;
    top: 145px;
    width: 340px;
    font-size: 24px;
    height: 270px;
    padding-top: 55px;
    margin-left: 35px;
    margin-right: auto;
    z-index: 5;
    background-color: rgba(252, 226, 232, 0.95)
  }
}

@media only screen and (min-device-width: 361px) and (max-device-width: 375px){
  body{
    letter-spacing: 1px;
  }
  
  .proj{
    background-attachment: inherit;
    background-size: 750px;
    background-position-y: 0px;
  }

  .con{
    background-attachment: inherit;
    background-size: 780px;
    background-position-x: -220px;
  }

  .project-text{
    padding-bottom: 20px;
  }

  .myself-container{
    height: 620px;
  }

  .proj{
    background-size: 890px;
    height: 350px;
    font-size: 32px;
    padding-top: 30px;
  }
  .bye{
    font-size: 30px;
  }
  .screenshot{
    height: 120px;
    width: 120px;
    background-size: 200px;
    background-position-x: 2px;
  }
  .show-modal{
    height: 0px;
    width: 0px;
  }
  .xbox{
    top: 124px;
    left: -320px;
  }
  .xbox:active{
    top: 124px;
    left: -320px;
  }

  .proj1{
    grid-column: 1/6;
    grid-row: 3/7;
  }
  .proj2 {
    grid-column: 1/6;
    grid-row: 11/12;
  }
  .proj3 {
    grid-column:7/12;
    grid-row: 3/7;
  }
  .proj4 {
    grid-column:7/12;
    grid-row: 11/12;
  }

  .info-one {
    grid-column: 2/5;
    grid-row: 4/8;
  }
  .info-two {
    grid-column: 2/5;
    grid-row: 12/12;
  }
  .info-three{
    grid-column: 7/12;
    grid-row: 4/8;
  }
  .info-four{
    grid-row: 12/12;
  }
  .desc{
    display: none
  }
  .desc2{
    position: absolute; 
    border-radius: 16px;
    top: 145px;
    width: 340px;
    font-size: 24px;
    height: 270px;
    padding-top: 55px;
    margin-left: 35px;
    margin-right: auto;
    z-index: 5;
    background-color: rgba(252, 226, 232, 0.95)
  }

}

@media only screen and (min-device-width: 376px) and (max-device-width: 413px){
  body{
    letter-spacing: 1px;
  }
  
  .proj{
    background-attachment: inherit;
    background-size: 750px;
    background-position-y: 0px;
  }

  .con{
    background-attachment: inherit;
    background-size: 940px;
    background-position-y: 0px;
    background-position-x: -290px;
  }

  .header{
    height: 80px;
  }

  .project-text{
    padding-bottom: 20px;
  }
  
  .myself-container{
    height: 620px;
  }
  .name-logo{
    padding-top: 5px;
  }

  .proj {
    padding-top: 30px;
    height: 320px;
    font-size: 24px;
  }
  .screenshot{
    height: 120px;
    width: 120px;
    background-size: 200px;
    background-position-x: 2px;
  }
  .show-modal{
    height: 0px;
    width: 0px;
  }
  .xbox{
    top: 124px;
    left: -330px;
  }
  .xbox:active{
    top: 124px;
    left: -330px;
  }
  .proj1{
    grid-column: 1/6;
    grid-row: 3/7;
  }
  .proj2 {
    grid-column: 1/6;
    grid-row: 11/12;
  }
  .proj3 {
    grid-column:7/12;
    grid-row: 3/7;
  }
  .proj4 {
    grid-column:7/12;
    grid-row: 11/12;
  }

  .info-one {
    grid-column: 2/5;
    grid-row: 4/8;
  }
  .info-two {
    grid-column: 2/5;
    grid-row: 12/12;
  }
  .info-three{
    grid-column: 7/12;
    grid-row: 4/8;
  }
  .info-four{
    grid-row: 12/12;
  }
  .desc{
    display: none
  }
  .desc2{
    position: absolute; 
    border-radius: 16px;
    top: 145px;
    width: 340px;
    font-size: 24px;
    height: 270px;
    padding-top: 55px;
    margin-left: 35px;
    margin-right: auto;
    z-index: 5;
    background-color: rgba(252, 226, 232, 0.95)
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 499px){
  h5{
    left: -3px;
  }
  
  .proj, .con{
    background-attachment: inherit;
    background-size: 785px;
    background-position: 0px;
  }

  body{
    letter-spacing: 1px;
  }

  .name-logo{
    padding-top: 5px;
  }

  .header{
    height: 80px;
  }
  .hello{
    padding-top: 5px;
  }

  .project-text{
    padding-bottom: 30px;
  }

  .proj{
    padding-top: 100px;
    font-size: 20px;
    height: 310px;
  }
  .screenshot{
    height: 120px;
    width: 120px;
    background-size: 200px;
    background-position-x: 2px;
  }
  .myself-container{
    height: 650px;
  }
  .show-modal{
    height: 0px;
    width: 0px;
  }
  .xbox{
    left: -319px;
    top: 124px;
    margin-right: auto;
    opacity: 1;
  }
  .xbox:active{
    left: -319px;
    top: 124px;
    margin-right: auto;
    opacity: 1;
  }
  .proj1{
    grid-column: 1/6;
    grid-row: 3/7;
  }
  .proj2 {
    grid-column: 1/6;
    grid-row: 11/12;
  }
  .proj3 {
    grid-column:7/12;
    grid-row: 3/7;
  }
  .proj4 {
    grid-column:7/12;
    grid-row: 11/12;
  }

  .info-one {
    grid-column: 2/5;
    grid-row: 4/8;
  }
  .info-two {
    grid-column: 2/5;
    grid-row: 12/12;
  }
  .info-three{
    grid-column: 7/12;
    grid-row: 4/8;
  }
  .info-four{
    grid-row: 12/12;
  }
  .desc{
    display: none
  }
  .desc2{
    position: absolute; 
    border-radius: 16px;
    top: 145px;
    width: 340px;
    font-size: 24px;
    height: 270px;
    padding-top: 55px;
    margin-left: 35px;
    margin-right: auto;
    z-index: 5;
    background-color: rgba(252, 226, 232, 0.95)
  }
}

@media only screen and (min-device-width: 500px) and (max-device-width: 568px){
  .proj, .con{
    background-attachment: inherit;
    background-size: 690px;
    background-position-y: 0px;
  }

  .desc{
    height: 210px;
    display: none;
  }

  .desc2 {
    position: absolute;
    border-radius: 16px;
    top: 450px;
    width: 340px;
    font-size: 24px;
    height: 270px;
    padding-top: 55px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    background-color: rgba(252, 226, 232, 0.95);
}

  .project-text{
    padding-bottom: 40px;
  }
  .header{
    height: 65px;
  }
  .proj{
    padding-top: 50px;
    font-size: 20px;
    height: 290px;
  }
  .hello{
    padding-top: 20px
  }
  .proj1{
    grid-column: 1/6;
    grid-row: 3/7;
  }
  .proj2 {
    grid-column: 1/6;
    grid-row: 11/12;
  }
  .proj3 {
    grid-column:7/12;
    grid-row: 3/7;
  }
  .proj4 {
    grid-column:7/12;
    grid-row: 11/12;
  }

  .info-one {
    grid-column: 2/5;
    grid-row: 4/8;
  }
  .info-two {
    grid-column: 2/5;
    grid-row: 12/12;
  }
  .info-three{
    grid-column: 7/12;
    grid-row: 4/8;
  }
  .info-four{
    grid-row: 12/12;
  }
  .screenshot{
    height: 120px;
    width: 120px;
    background-size: 280px;
    background-position-x: -15px;
  }
  .myself-container{
    height: 690px;
  }
  .con{
    height: 322px;
    background-position: -110px;
  }
  .show-modal{
    height: 0px;
    width: 0px;
  }
  .xbox{
    top: 1015px;
    left: -340px;
  }
  .xbox:active{
    top: 1015px;
    left: -340px;
  }


}

@media only screen and (min-device-width: 569px) and (max-device-width: 640px){
  .proj, .con{
    background-attachment: inherit;
    background-size: 690px;
    background-position: 0px;
  }
  .header{
    height: 65px;
  }

  .desc{
    height: 170px;
  }

  .proj{
    background-size: 690px;
    height: 350px;
    padding-top: 70px;
    font-size: 28px;
  }

  .project-text{
    padding-bottom: 50px;
  }

  .hello{
    padding-top: 15px;
  }
  .myself-container{
    height: 532px;
  }
  .proj1 {
    grid-row: 1/8;  
  }
  .proj2 {
    grid-row: 1/8;  
  }
  .proj3 {
    grid-row: 1/8;  
  }
  .proj4 {
    grid-row: 1/8;  
  }
  .con{
    height: 364px;
  }
  .xbox{
    left: -460px;
    margin-right:570px;
    top: 1265px;
  }
  .xbox:active{
    left: -460px;
    margin-right:570px;
    top: 1265px;
  }
  .screenshot{
    height: 120px;
    width: 120px;
    background-size: 280px;
    background-position-x: 2px;
  }
}

@media only screen and (min-device-width: 641px) and (max-device-width: 735px){
  .proj, .con{
    background-attachment: inherit;
    background-size: 740px;
    background-position-y: 0px;
    background-position-x: 0px;
  }

  .res{
    height: 550px;
  }

  .resume-text, .contact-text, .project-text {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .header{
    height: 65px;
  }
  .proj{
    background-size: 735px;
    height: 350px;
    padding-top: 80px;
  }
  .hello{
    padding-top: 0px;
  }
  .proj1 {
    grid-row: 1/8;  
  }
  .proj2 {
    grid-row: 1/8;  
  }
  .proj3 {
    grid-row: 1/8;  
  }
  .proj4 {
    grid-row: 1/8;  
  }
  .screenshot{
    height: 150px;
    width: 150px;
    background-size: 280px;
    background-position-x: 2px;
  }
  .myself-container{
    height: 540px;
  }
  .con{
    height: 412px;
  }
  .xbox{
    left: -626px;
  }
  .xbox:active{
    left: -626px;
  }
}

@media only screen and (min-device-width: 736px) and (max-device-width: 767px){
  .proj, .con{
    background-attachment: inherit;
    background-size: 767px;
    background-position-y: 0px;
    background-position-x: 0px;
  }
  .header{
    height: 65px;
  }
  .myself-container{
    height: 605px;
  }
  .con{
    height: 412px;
  }
  .proj{
    padding-top: 50px;
    height: 400px;
  }
  .proj1, .proj2, .proj3, .proj4{
    grid-row: 1/8; 
    text-align: -webkit-center;
    width: 175px; 
  }

  .info-four,.info-one,.info-three,.info-two{
    margin-top: 50px;
  }

  .screenshot{
    height: 150px;
    width: 150px;
    background-size: 280px;
    background-position-x: 2px;
  }

  .project-text{
    padding-bottom: 30px;
  }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 800px){
  .proj{
    background-attachment: inherit;
    background-size: 1060px;
    background-position-y: 0px;
  }

  .con{
    background-attachment: inherit;
    background-size: 1060px;
    background-position: -160px;
  }

  .header{
    height: 90px;
  }
  .hello{
    padding-top: 140px;
  }
  .proj{
    padding-top: 0px;
    height: 640px;
  }
  .proj1 {
    grid-row: 5/8;  
  }
  .proj2 {
    grid-row: 5/8;  
  }
  .proj3 {
    grid-row: 5/8;  
  }
  .proj4 {
    grid-row: 5/8;  
  }
  .myself-container{
    height: 575px;
  }
  .con{
    height: 531px;
  }
  .screenshot{
    height: 150px;
    width: 150px;
    background-size: 280px;
    background-position-x: 2px;
  }
  .xbox{
    top: 1610px;
  }
  .xbox:active{
    top: 1610px;
  }
  .show-modal{
    top: 1530px;
  }
}

@media only screen and (min-device-width: 801px) and (max-device-width: 812px){
  .proj{
    background-attachment: inherit;
    background-size: 812px;
    background-position-y: 0px;
  }

  .con {
    background-attachment: inherit;
    background-size: 812px;
    background-position: 0px;
}

  .projects {
    display: grid;
    grid-template-rows: repeat(11, 26.5px);
    grid-template-columns: repeat(11, 1fr);
  }

  .project{
    height: 190px;
  }

  .project-text{
    padding-bottom: 50px;
  }
  .header{
    height: 70px;
  }
  .hello{
    padding-top: 10px;
  }
  .proj{
    padding-top: 100px;
    height: 420px;
  }
  .proj1 {
    grid-row: 1/8;  
  }
  .proj2 {
    grid-row: 1/8;  
  }
  .proj3 {
    grid-row: 1/8;  
  }
  .proj4 {
    grid-row: 1/8;  
  }
  .myself-container{
    height: 555px;
  }
  .con{
    height: 378px;
  }
  .screenshot{
    height: 150px;
    width: 150px;
    background-size: 280px;
    background-position-x: 2px;
  }

}

@media only screen and (min-device-width: 813px) and (max-device-width: 823px){
  .proj{
    background-attachment: inherit;
    background-size: 830px;
    background-position-y: 0px;
  }

  .con {
    background-attachment: inherit;
    background-size: 830px;
    background-position: 0px;
  }

  .header{
    height: 70px;
  }
  .proj{
    background-size: 825px;
    height: 375px;
    padding-top: 110px;
  }
  .hello{
    padding-top: 0px;
  }
  .xbox{
    top: 1470px;
  }
  .xbox:active{
    top: 1470px;
  }
  .show-modal{
    top: 1440px;
  }
}

@media only screen and (min-device-width: 824px) and (max-device-width: 1024px){
  .proj{
    background-attachment: inherit;
    background-size: 1024px;
    background-position-y: 0px;
  }

  .info-four,.info-one,.info-three,.info-two{
    margin-bottom: 140px
  }

  .con{
    background-position: 0px;
    background-attachment: inherit;
    background-size: 1024px;
  }



  .project-text{
    padding-bottom: 40px;
  }

  .xbox{
    top: 1525px;
  }
  .show-modal{
    top: 1416px;
    height: 730px;
    width: 566px;
  }
  .proj1 {
    grid-row: 1/8;
    grid-column: 3/4;
  }
  .proj2 {
    grid-row: 1/8; 
    grid-column: 5/6; 
  }
  .proj3 {
    grid-row: 1/8;  
    grid-column: 7/7;
  }
  .proj4 {
    grid-row: 1/8;  
    grid-column: 9/9;
  }
  .info-one{
    grid-column: 3/4;
  }
  .info-two{
    grid-column: 5/6;
  }
  .info-three{
    grid-column: 7/7;
  }
  .info-four{
    grid-column: 9/9;
  }
  .desc{
    top: 145px;
  }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1366px){
  .proj{
    background-attachment: inherit;
    background-size: 1366px;
    background-position-y: -50px;
  }

  .con{
    background-attachment: inherit;
    background-size: 1366px;
    background-position: 0px;
  }

  .proj{
    font-size: 36px;
  }
}