body {
    background-color: #111111;
}

h1 {
    color: #E2E80F;
    text-align: center;
    font-size: 30px;
}

p {
    color: #eeeeee;
    font-size: 24px;
    line-height: 2;
}

.credits {
    color: #49DAFF;
    text-decoration: underline;
}

#film-description {
    font-style: italic;
    font-size: 12px;
}