*{
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
}

.spot-container {
    border-bottom: solid black 2px;
    display: inline-block;
    /* width: 20%; */
}

.main-container {
    display: grid;
    grid-template-areas: 'a a a';
    width: 50%
    /* grid-column: auto; */
    /* grid-auto-flow: row; */
}