*{
    margin: 0;
}

.images {
    margin: 20px;
    height: 200px;
    border: black solid 4px;
    margin-bottom: 100px;

}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: black solid 4px;
    background: gray;
}

h1{
    text-align: center;
    border: black solid 4px;
    font-size: 40px;
    width: 65%;
    margin-left: 100px;
    margin-top: 20px;
}

.hello{
    text-align: center;
}